:root {
  --text: #474d66;
  --gray-light: #f3f3f3;
  --gray-lighter: #e9e9e9;
  --gray-medium: #cecece;
  --gray-dark: #333;
  --font: sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font);
}

#app {
  display: grid;
  grid-template-columns: 236px 1fr;
  height: 100%;
  overflow: hidden;
}

#sidebar,
#main {
  padding: 2.5em 1.5em;
  overflow: auto;
  align-items: start;
}

#sidebar {
  background-color: var(--gray-light);
}

a[aria-expanded="false"] {
  + ul {
    display: none;
  }
  .icon {
    display: inline-block;
    transform: rotate(-90deg);
  }
}

a[disabled="true"] {
  pointer-events: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon {
  margin-right: 0.5em;
  font-size: 1em;
}

.menu__link {
  padding: 0.5em 1em;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  color: var(--text);
  font-size: 0.8em;
  &:hover {
    background-color: var(--gray-lighter);
  }
  + ul {
    margin-left: 1.2em;
    border-left: 1px solid var(--gray-medium);
  }
  &.active {
    font-weight: bold;
  }
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 4px;
  font-size: 0.9em;
  border: none;
  border-spacing: 0;
  box-shadow: 0 0 0 1px #e6e8f0;
  color: var(--text);
  th {
    text-align: left;
    border-bottom: 1px solid #e6e8f0;
    background: #f9fafc;
    font-size: 0.9em;
    padding: 1em 1em;
  }
  td,
  th {
    border-bottom: 1px solid #e6e8f0;
  }
  tr:hover {
    background: #f9fafc;
  }
  a {
    display: flex;
    padding: 1em 1em;
    text-decoration: none;
    align-items: center;
    gap: 0.5em;
    color: var(--text);
  }
}
